<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>

<body>
    <h2>Welcome to Home Page</h2>
    <a class="btn btn-outline-primary" href="/viewmember" role="button">View Members</a>
    <a class="btn btn-outline-secondary" href="/addmember" role="button">Add Members</a>
</body>

</html>